@import "../styles/globals.css";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: #0a0a0a;
  color: rgba(240, 240, 240, 0.95);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
